.rc
  &-intro
    background-color #222
    padding 2rem
    text-align center
    margin-bottom 3rem
  &-img
    max-width 50px

  &-title
    font-size 5rem
    margin-top 3rem
    color #fff
    font-family 'Open Sans'
    font-weight 700
    letter-spacing -2px

  &-description
    margin-top 2rem
    font-size 2rem
    color #ccc

.user
  &-image
    max-width 50px
    max-height 50px
  &-list
    &>tbody>tr
      transition all .6s ease
      &:hover
        cursor pointer
        background-color #eee

.toolbar
  margin 15px auto
  .btn + .btn
    margin-left 20px

.searchbar
  margin-bottom 10px

.active-user
  top 0
  padding 25px
  table
    vertical-align middle


@media(max-width 768px){
  .affix{
    position: static;
  }
  
}    